@font-face {
    font-family: 'Fira Sans';
    src: url('webfonts/firasans-regular-webfont.woff2') format('woff2'),
         url('webfonts/firasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
