@font-face {
    font-family: 'Fira Sans';
    src: url('webfonts/firasans-bold-webfont.woff2') format('woff2'),
         url('webfonts/firasans-bold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('webfonts/firasans-bolditalic-webfont.woff2') format('woff2'),
         url('webfonts/firasans-bolditalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}


@font-face {
    font-family: 'Fira Sans';
    src: url('webfonts/firasans-extrabold-webfont.woff2') format('woff2'),
         url('webfonts/firasans-extrabold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('webfonts/firasans-extrabolditalic-webfont.woff2') format('woff2'),
         url('webfonts/firasans-extrabolditalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('webfonts/firasans-extralight-webfont.woff2') format('woff2'),
         url('webfonts/firasans-extralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('webfonts/firasans-extralightitalic-webfont.woff2') format('woff2'),
         url('webfonts/firasans-extralightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('webfonts/firasans-italic-webfont.woff2') format('woff2'),
         url('webfonts/firasans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
