a {
  color: darken($teal, 10%);
}

.t-emphasis {
  font-size: 1.5em;
  font-weight: lighter;
  font-style: italic;
}

.t-strong {
  font-weight: bold;
}

.t-hr {
  border: 1px solid $light-grey;
  margin: $gutter auto;
}
