// Variables to be reused

$gutter: 1em;
$container-max-width: 1020px;
$menu-height: $gutter * 2 + 2em;
$body-font: "Fira Sans", sans-serif;

// Colours

$teal: #0f979b;
$dark-grey: #666;
$light-grey: #eee;
