.c-faq
  .c-faq__question
    %h4 What if I can't afford to pay the Australian Beard Tax (ABT)?
  .c-faq__answer
    %p If you earn under $35,000, you may be eligible for a shaving kit.
    %p Enquire at <a href="https://www.humanservices.gov.au/individuals/centrelink">Centrelink</a> for a complimentary Beard Assistance Kit (BAK).
.c-faq
  .c-faq__question
    %h4 Are minors under the age of 18 required to pay the Australian Beard Tax (ABT)?
  .c-faq__answer
    %p Yes, minors are required to pay the ABT.
    %p Enquire at <a href="https://www.humanservices.gov.au/individuals/centrelink">Centrelink</a> for a Bearded Teenager Shaving Kit (BTSK).
.c-faq
  .c-faq__question
    %h4 Do I need to pay the Australian Beard Tax (ABT) if I only have a beard for part of the financial year?
  .c-faq__answer
    %p Yes. However, a BeardToken may be redeemed at registered barbers for a beard shaving service and/or partial refund.
.c-faq
  .c-faq__question
    %h4 I don't normally wear a beard, but I sometimes just don't shave for a while. Do I need to pay the Australian Beard Tax (ABT)?
  .c-faq__answer
    %p Yes. Any beard over 5mm that either covers the chin or connects the hairline from left to right is covered by the legislation. Wearing a beard without a valid BeardCoin is an offense.
.c-faq
  .c-faq__question
    %h4 Are there religious exemptions for paying the Australian Beard Tax (ABT)?
  .c-faq__answer
    %p
      Yes. If your primary reason for wearing a beard is religious in nature, you may be eligible for an exemption under section 6D of the
      = link_to("#{config[:site_url]}/downloads/legislation.pdf", target: "_blank") do
        Australian​ ​Beard​ ​Tax​ ​(Promotion​ ​of​ ​Enlightenment​ ​Values) Act​ ​1934.
.c-faq
  .c-faq__question
    %h4 Are visitors subject to the Australian Beard Tax (ABT)?
  .c-faq__answer
    %p Bearded visitors to Australia who have not obtained a BeardCoin will be given a 14-day Notice to Remedy, during which they should either remove their beard or pay the Australian Beard Tax (ABT).
