---
title: About
---

%h1 About the Department of Beards

.o-grid.o-grid--centred
  .o-grid__item.o-grid__item--half
    %p.t-emphasis The Department of Beards exists to levy and administer the Australian Beard Tax (ABT).
    %p The core business of the Department is to collect the annual tax levied on all beards grown and maintained within Australia. All Australians with more than two weeks of beard growth must pay this tax.
    %p The Department also administers BeardCoin, the crypto-currency used to verify beard tax payment, which may be used at licensed barbers to remove a beard for a full or partial ABT refund.

%hr.t-hr

%h2 Our History

.o-grid.o-grid--centred
  .o-grid__item.o-grid__item--half
    %p.t-emphasis The Department of Beards is one of Australia's oldest and proudest institutions.
    %p
      The Department was established by Prime Minister Peter Alexeyevich through the
      = link_to("#{config[:site_url]}/downloads/legislation.pdf", target: "_blank") do
        Australian​ ​Beard​ ​Tax​ ​(Promotion​ ​of​ ​Enlightenment​ ​Values) Act​ ​1934
      which follows on from similar legislation across the <a href="https://en.wikipedia.org/wiki/Beard_tax" target="_blank" rel="noopener">rest of the world</a>.
      The Department serves to administer and levy the Australian Beard Tax (ABT).
    %p Since our establishment, we have moved forward from issuing physical beard tax payment tokens to BeardCoin, a blockchain-based system of beard payment verification - the first of its kind in the world.
  .o-grid__item.o-grid__item--half
    %figure.c-captioned-figure
      %img.c-captioned-figure__image{src: "/images/peter.jpg"}
      %p.c-captioned-figure__caption
        Peter Alexeyevich, Prime Minister of All the Australias
