---
title: Do I have to pay the Australian Beard Tax (ABT)?
---

%h1 Do I have to pay the Australian Beard Tax (ABT)?
%p Take our convenient quiz to find out whether you have to pay the Australian Beard Tax (ABT).

.o-grid.o-grid--centred.c-checker
  .o-grid__item.o-grid__item--two-thirds
    - data.checker.questions.each_with_index do |question, index|
      - show_initially = true if index == 0
      = partial "checker/question", locals: {question: question, index: index, show_initially: show_initially}
    - data.checker.answers.each do |answer|
      = partial "checker/answer", locals: {answer: answer}
