---
title: Contact Us
---

%h1 Contact the Department of Beards

%p You can contact us by phone or by email.

%dl
  %dt.t-strong For enquiries about beard tax payments
  %dd Call 13 BEARD
  %dd Email <a href="mailto:tax@beards.gov.au">tax@beards.gov.au</a>
%dl
  %dt.t-strong For enquiries about accepting BeardCoin™ at your place of business
  %dd Call 13 72 76
  %dd Email <a href="mailto:business@beards.gov.au">business@beards.gov.au</a>
%dl
  %dt.t-strong For BeardCoin™ mining resource consent
  %dd Call 13 72 78
  %dd Email <a href="mailto:mining@beards.gov.au">mining@beards.gov.au</a>
%dl
  %dt.t-strong For media inquiries
  %dd Call media unit on (02) 6216 1901
  %dd For after-hours contacts, phone 0401 147 127
  %dd Email us at <a href="mailto:mediaunit@beards.gov.au">mediaunit@beards.gov.au</a>
